link {
    display: none;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    border: 15px;
    padding: 10px;
}
/*Font Styles*/
h1 {
    font-size: 64pt;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
h2 {
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 24pt;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
}
h4 {
    font-size: 20pt;
    font-weight: bold;
    text-align: left;
}
p {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18pt;
    text-align: justify;
    line-height: auto;
}
/*Navigation Bar*/
.navcontainer {
    height: 60px;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    z-index: 9999;
  }
.logo2 a {
    display: none;
    color: #ffffff !important;
}
  .navcontainer .logo {
    max-width: 250px;
    padding: 0 10px;
    overflow: hidden;
    z-index: 9999;
  }
  .navbar2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      z-index: 9999;
  }
  .navcontainer .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    z-index: 9999;
  }
  
  .navcontainer .logo a img {
    max-width: 100%;
    max-height: 60px;
    z-index: 9999;
  }
  
  .navcontainer .navbar2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    z-index: 9999;
    padding: 0 10px;
  }
  
  .navcontainer .navbar2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
  }
  
  .navcontainer .navbar2 ul li a {
    text-decoration: none;
    color: #1D1E1F;
    font-size: 20pt;
    display: block;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    padding: 0 40px;
    z-index: 9999;
  }
  
  .navcontainer .navbar2 ul li a:hover {
    color: #4A807B;
    z-index: 9999;
  }
  
  .navcontainer .navbar2 ul .close2 {
    display: none;
    text-align: right;
    padding: 10px;
    z-index: 9999;
  }
  
  .navcontainer .navbar2 ul .close2 span {
    font-size: 40px;
    display: inline-block;
    border: none !important;
    padding: 0 10px;
    cursor: pointer;
    z-index: 9999;
  }
  
  .navcontainer .navbar2 .icon-bar {
    padding: 18px 8px;
    width: 50px;
    height: 60px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    z-index: 9999;
  }
  
  .navcontainer .navbar2 .icon-bar i {
    background-color: #1E1D1F;
    height: 2px;
    z-index: 9999;
  }
  
  @media only screen and (max-width: 650px) {
    .navcontainer {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      z-index: 9999;
    }
  
    .navcontainer .logo {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      z-index: 9999;

    }
  
    .navcontainer .navbar2 {
      -webkit-box-flex: 0;
      -ms-flex: 0;
      flex: 0;
    }
  
    .navcontainer .navbar2 ul {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      position: fixed;
      left: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background: #ffffff;
      width: 100%;
      height: 100%;
      overflow: auto;
      -webkit-transition: left .3s;
      -o-transition: left .3s;
      transition: left .3s;
      z-index: 9999;
    }
  
    .navcontainer .navbar2 ul li a {
      padding: 10px;
      font-size: 20pt;
      height: auto;
      line-height: normal;
      color: #1D1E1F;
      z-index: 9999;
    }
  
    .navcontainer .navbar2 ul .close2 {
      display: block;
    }
  
    .navcontainer .navbar2 .icon-bar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      z-index: 9999;
    }
  
    .navcontainer .navbar2 ._Menus-show {
      left: 0;
      z-index: 9999;
    }
  }

.navbar {
    font-size: 18px;
    background-color: transparent !important;
    padding-bottom: 10px;
}





@media screen and (min-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        height: 70px;
        align-items: center;
        margin-bottom: 40px;
    }
}
.navlink {
    font-size: 20pt;
}
.nav-link:hover {
    color: #4A807B !important;
}
#connect {
    font-weight: bolder !important;
}
a {
    text-decoration: none !important;
}
li {
    font-size: 26px;
    display: flex;
  }
  li a {
    display: block;
    color: #1D1F1E;
    text-align: center;
    font-size: 20pt !important;
    padding: 14px 16px;
    text-decoration: none;
  }
  /*button style & animations*/
button {
    display: block !important;
    margin: 0 auto;
    padding: 15px;
    width: 150px;
    font-size: 18px !important;
    text-align: center;
    color: #1D1F1E !important;
    border: none !important;
    border-radius: 25px !important;
    background-color: #D8E8E7 !important;
    text-decoration: none !important;
    box-shadow: none !important;
}
.secondbtn {
    background-color: #B1CFF5 !important;
}
button:hover {
    background-color: #4A807B !important;
    color: #ffffff !important;
}
.secondbtn:hover {
    background-color: #1E74E2 !important;
}
.button3 {
    display: block !important;
    margin: 0 auto;
    margin-top: 5px !important;
    padding: 0px;
    width: 140px !important;
    font-size: 18px !important;
    text-align: right;
    justify-content: right !important;
    align-items: right !important;
    color: #1D1E1F !important;
    background-color: transparent !important;
    text-decoration: none !important;
    box-shadow: none !important;
    line-height: 40px;
}
.button3:hover {
    background-color: transparent !important;
    color: #1964C4 !important;

}
.cssChange {
    display: block;
    margin: 0 auto;
    width: 150px;
    border-radius: 25px;
    background-color: #4A807B;
    color: #1D1F1E;
    box-shadow: 0px 4px 4px grey;
    text-decoration: none;
}
/*Homepage Hero Section*/
.home-col {
    margin-left: 20px !important;
    margin-bottom: 30px !important;
}
.content {
    margin-top: 60px;
    padding-top: 40px;
}
.homeBio {
    font-size: 24pt !important;
}
  #hero-gridContainer {
    display: grid;
    column-gap: 5em;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "heroPhoto heroContent";
    margin: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#heroPhoto {
    grid-area: heroPhoto;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#heroContent {
    grid-area: heroContent;
    padding-bottom: 30px;
    margin-bottom: 60px;
    margin-right: 40px;
}
  .heroGridArea {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
  #heroPhoto img {
    width: 70%;
    height: auto;
  }

#whoami {
    font-weight: 600;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #4A807B;
}
#whoami2 {
    font-weight: 600 !important;
    -webkit-text-fill-color: #ffffff !important;
    -webkit-text-stroke: 1px !important;
    -webkit-text-stroke-color: #4A807B !important;
}
/*HomePage Scroll Reveal*/
#workarrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

#scrollbutton {
    text-decoration: none;
    color: #1D1F1E;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 15px;
    transition: all 0.2s ease 0s;
    margin-bottom: 0;
}
#scrollbutton:hover {
    color: #4A807B;
}
.projects {
    margin-top: 20px;
    padding-top: 10px;
}
/*Loading Page animation*/
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  /* footer style */
  
#connect {
    font-size: 16pt;
}
#connect1 {
    font-size: 13pt;
}
footer {
    margin-top: 50px;
}
footer div {
    display: inline-block;
}
footer ul li a{
    padding: 0 15px;
}
.iconify {
    height: auto;
}
/* grid and UX|UI page style */
.uxui {
    margin-top: 50px;
    font-size: 32pt !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.subtitle {
    border-radius: 5px;
    background-color: #D8E8E7;
    width: 200px;
    color: #666666;
    font-size: 14pt;
    font-weight: thin;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: auto;
    margin-left: 60px;
}
.subtitle2 {
    border-radius: 5px;
    background-color: #B1CFF5;
    width: 200px;
    color: #666666;
    font-size: 14pt;
    font-weight: thin;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: auto;
}
.subcard {
    display: flex;
    margin-left: 65%;
}
.subtitle3 {
    border-radius: 5px;
    background-color: #D8E8E7;
    width: 300px;
    color: #666666;
    font-size: 14pt;
    font-weight: thin;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: auto;
    margin-left: 60px;
}
.description {
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
    font-size: 18pt !important;
    border: 20px;
    padding: 20px;
}
.uxui-gridContainer {
    display: grid;
    column-gap: 5em;
    row-gap: 10em;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "livingroomContent livingroomPhoto"
        "patriotsPhoto patriotsContent"
        "streetContent streetPhoto";
    padding: 50px 50px;
}
#livingroomPhoto img, #streetPhoto img {
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
}
#patriotsPhoto img {
    box-shadow: -10px 10px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
}
#livingroomPhoto {
    grid-area: livingroomPhoto;
    max-width: 495px;
    max-height: 481px;
}
#livingroomContent {
    grid-area: livingroomContent;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
#patriotsPhoto {
    grid-area: patriotsPhoto;
    max-width: 491px;
    max-height: 480px;
}
#patriotsContent {
    grid-area: patriotsContent;
}
#streetPhoto {
    grid-area: streetPhoto;
    max-width: 491px;
    max-height: 480px;
}
#streetContent {
    grid-area: streetContent;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
  .uxuiGridArea {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
/*LivingRoom Case Study*/
#jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: #1D1F1E;
    margin: 0px;
    text-align: left;
    margin-right: 700px;
    margin-bottom: 250px;
  } 
  .jumbotron {
    background-image: url(../images/LivingRoom_Hero.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 0px !important;
  }
.jumbotron2 {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: .3rem;
}
.jumbotron2 {
    padding: 4rem 2rem;
}
.jumbotron2 {
    background-image: url(../images/Patriots_Paws/PatriotsPaws\ Hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 0px !important;
}

.jumbotron-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
    border-radius: 0 !important;
}
.container {
    margin-top: 50px;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100% !important;
    padding-right: 30px !important;
    padding-left: 15px !important;
    margin-right: 40% !important;
    margin-left: auto !important;
    height: calc(40vh - 25px) !important;
}
.display-4 {
    display: flex;
    align-items: left;
    justify-content: left;
    vertical-align: top;
    font-weight: 600 !important;
}
.lead {
    display: flex !important;
    align-items: left !important;
    justify-content: left !important;
    margin: 0px !important;
}
  .colorBlock {
    background-color: #D8E8E7;
    padding: 40px;
}
.colorBlock2 {
    background-color: #D8E8E7;
    padding: 40px;
    margin-bottom: 80px;
}
.img-fluid {
    width: 100% !important;
    height: auto !important;
}
#tableofcontents {
    width: 100% !important;
    height: auto !important;
    padding-bottom: 80px;
    padding-top: 40px;
}
#spacing {
    padding-bottom: 40px;
}
.table {
    display: block;
    justify-content: center !important;
    align-items: center !important;
}
.casestudy-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;
}
.user-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.casestudy-userImage {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;
}
#miroimage {
    padding-bottom: 30px;
}
#miroimage2 {
    padding-top: 20px;
    padding-bottom: 60px;
}
#miroimage3 {
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 40px;
}
#miroimage4 {
    margin-top: 40px;
}
#miroimage5 {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
}
#miroimage6 {
    padding-bottom: 60px;
}
#herospacing {
    margin-top: 50px;
}
#spacing2 {
    padding-bottom: 50px;
}
.livingHeading {
    font-size: 20pt !important;
}
.livingroom-text {
    font-size: 16pt !important;
    margin: 0px auto !important;
}
.casestudy-body {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 30px;
}
.casestudy-heading {
    font-size: 26pt;
    font-weight: bold;
    display: flex;
    align-items: left;
    justify-content: left;
}
.livingroom-text2 {
    font-size: 16pt !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.livingroom-text3 {
    font-size: 16pt !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.caseStudy {
    align-items: center !important;
    justify-content: center;
    margin-top: .5rem;
    padding-top: 10px;
    font-size: 30pt !important;
}
.casestudy-body {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 30px;
}
.casestudy-heading {
    font-size: 26pt;
    font-weight: bold;
    display: flex;
    align-items: left;
    justify-content: left;
}
#user2text {
    padding-bottom: 60px;
}
#user3text {
    padding-top: 30px;
}
#bodytext {
    padding-top: 30px;
    padding-bottom: 20px;
}
  #Timeline {
    grid-area: Timeline;
    justify-content: center;
    align-items: center;
}
#Tools {
    grid-area: Tools;
    justify-content: center;
    align-items: center;
}
#Role {
    grid-area: Role;
    justify-content: center;
    align-items: center;
}
#Team {
    grid-area: Team;
    justify-content: center;
    align-items: center;
}
  .introGridArea {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
  .intro-gridContainer {
    display: grid;
    column-gap: 2em;
    row-gap: 2em;
    grid-template-rows: auto auto ;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "Timeline Tools"
        "Role Team";
    padding: 50px 50px;
}
  .user-gridContainer {
    display: grid;
    column-gap: 2em;
    row-gap: 1em;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
        "user1Photo user2Photo user3Photo"
        "user1Content user2Content user3Content";
    padding: 20px 20px;
}

#user1Photo img, #user2Photo img, #user3Photo img {
    width: 100%;
    height: auto;
    max-width: 199px;
    max-height: 197px;
}
#user1Photo {
    grid-area: user1Photo;
    justify-content: center;
    align-items: center;
}
#user1Content {
    grid-area: user1Content;
    justify-content: center;
    align-items: center;
}
#user2Photo {
    grid-area: user2Photo;
    justify-content: center;
    align-items: center;
}
#user2Content {
    grid-area: user2Content;
    justify-content: center;
    align-items: center;
}
#user3Photo {
    grid-area: user3Photo;
    justify-content: center;
    align-items: center;
}
#user3Content {
    grid-area: user3Content;
    justify-content: center;
    align-items: center;
}
  .researchGridArea {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
/*Patriots Paws CaseStudy*/
.patriotsHero-image {
    justify-content: center;
    align-items: center;
    top: -277.556px;
    display: block;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
}
.display-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    font-weight: 600 !important;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
}
.lead2 {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0px !important;
}
.colorBlock3 {
    background-color: #B1CFF5;
    padding: 40px;
    margin-bottom: 80px;
}
.patriots-gridContainer {
    display: grid;
    column-gap: 5em;
    row-gap: 2em;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "interview1Photo interview2Photo"
        "interview1Content interview2Content";
    padding: 20px 20px;
}
.jumbotron2 {
    padding: 4rem 2rem;
}
.jumbotron2 {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: .3rem;
}
@media (min-width: 576px) {
    .patriots-gridContainer {
        display: grid;
        column-gap: 5em;
        row-gap: 2em;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "interview1Photo"
            "interview1Content"  
            "interview2Photo"
            "interview2Content";
        padding: 20px 20px;
    }
    .jumbotron2 {
        padding: 4rem 2rem;
    }
    .jumbotron2 {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #ffffff;
        border-radius: .3rem;
    }
}

#interview1Photo img, #interview2Photo img {
    width: 100%;
    height: auto;
    max-width: 199px;
    max-height: 197px;
}
#interview1Photo {
    grid-area: interview1Photo;
    justify-content: center;
    align-items: center;
}
#interview1Content {
    grid-area: interview1Content;
    justify-content: center;
    align-items: center;
}
#interview2Photo {
    grid-area: interview2Photo;
    justify-content: center;
    align-items: center;
}
#interview2Content {
    grid-area: interview2Content;
    justify-content: center;
    align-items: center;
}
  .patriotsGridArea {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
#patriots-text {
    padding-bottom: 20px;
}
#patriots-text {
    padding-top: 40px;
    padding-bottom: 40px;
}
  /*Street Samaritan CaseStudy*/
.colorBlock4 {
    background-color: #000000;
    padding: 40px;
    margin-bottom: 80px;
}
.colorBlock5 {
    background-color: #000000;
    padding: 40px;
}
.colorBlock7 {
    background-color: #F9F9F9;
    padding: 40px;
}
#highlight {
    color: #FF9900 !important;
    font-weight: 800 !important;
}
#boldspacing {
    padding-top: 20px;
}
#boldspacing2 {
    padding-bottom: 40px;
}
#boldpadding {
    padding-bottom: 10px;
}
#boldpadding2 {
    padding-bottom: 70px;
}
.bold-text {
    font-size: 16pt !important;
    font-weight: 800 !important;
    text-align: center !important;
    margin: 0px auto !important;
    padding-bottom: 50px;
}
#imagecontainer {
    overflow: hidden;
}
.streetHeading {
    font-size: 20pt !important;
    color: #ffffff !important;
}
.street-text {
    font-size: 16pt !important;
    margin: 0px auto !important;
    color: #ffffff !important;
}
.street-body {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 30px;
}
.street-heading {
    font-size: 26pt;
    font-weight: bold;
    display: flex;
    align-items: left;
    justify-content: left;
    color: #ffffff !important;
}
.street-text2 {
    font-size: 16pt !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff !important;
}
.street-text3 {
    font-size: 16pt !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    color: #ffffff !important;
}
.street-caseStudy {
    align-items: center !important;
    justify-content: center;
    margin-top: .5rem;
    padding-top: 10px;
    font-size: 30pt !important;
    color: #ffffff !important;
}
.casestudy-body {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 30px;
}
.casestudy-heading {
    font-size: 26pt;
    font-weight: bold;
    display: flex;
    align-items: left;
    justify-content: left;
}
  /*About Page*/
  #aboutMe {
    height: 20vh;
    margin: 40px;
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;
}
  #about-gridContainer {
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "bioPhoto bioContent"
        "freetimeContent freetimePhoto";
    margin: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#bioPhoto {
    grid-area: bioPhoto;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#bioContent {
    grid-area: bioContent;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-right: 40px;
}
#heading {
    padding-top: 60px !important;
    padding-bottom: 20px !important;

}
p a {
    color: #4A807B;
}
a:hover {
    color: #284744;
    cursor: pointer;
  }
#freetimePhoto {
    grid-area: freetimePhoto;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
#freetimeContent {
    grid-area: freetimeContent;
    padding-bottom: 60px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
  .aboutmeGridArea {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
  #bioPhoto img, #freetimePhoto img, 
  #freetimeContent img {
    width: 70%;
    height: auto;
  }
  .freetime-icon {
      padding-top: 20px;
  }
    /*About Page Skills Section*/
  .skills-title {
      margin-bottom: 40px;
  }
  .skills-sub {
      text-align: center !important;
  }
  #skills {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #D8E8E7;
  }
  .skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  width: 100%;
  margin: 0px auto;
}

.skills-container div {
  text-align: center;
}

.skills-container div img {
  margin-bottom: 20px;
  text-align: center;
  width: 50%;
}
@media (min-width: 576px) {
    .patriots-gridContainer {
        display: grid;
        column-gap: 5em;
        row-gap: 2em;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "interview1Photo"
            "interview1Content"  
            "interview2Photo"
            "interview2Content";
        padding: 20px 20px;
    }

}
@media (min-width: 576px) {
.jumbotron3 {
    padding: 4rem 2rem;
}
.jumbotron3 {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: .3rem;
}
  }
  @media screen and (max-width: 576px) {
    #hero-gridContainer {
        display: grid;
        column-gap: 2em;
        row-gap: 2em;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "heroPhoto" 
            "heroContent";
        justify-content: center;
        align-items: center;
    }
    #about-gridContainer {
        display: grid;
        column-gap: 2em;
        row-gap: 2em;
        justify-content: center;
        align-items: center;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "bioPhoto"
            "bioContent"
            "freetimePhoto"
            "freetimeContent";
    }
    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
        width: 100%;
        margin: 0px auto;
      }
    .intro-gridContainer {
        display: grid;
        column-gap: 2em;
        row-gap: 2em;
        justify-content: center;
        align-items: center;
        grid-template-rows: auto auto ;
        grid-template-columns: auto auto;
        grid-template-areas: 
            "Timeline"
            "Tools"
            "Role"
            "Team";
        padding: 50px 50px;
    }
    .user-gridContainer {
        display: grid;
        column-gap: 2em;
        row-gap: 2em;
        justify-content: center;
        align-items: center;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: auto auto auto;
        grid-template-areas: 
        "user1Photo"
        "user1Content" 
        "user2Photo"
        "user2Content"
        "user3Photo"
        "user3Content";
        padding: 50px 50px;
    }

    .uxui-gridContainer {
        display: grid;
        column-gap: 0.5em;
        row-gap: 5em;
        justify-content: center;
        align-items: center;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "livingroomPhoto"
        "livingroomContent" 
        "patriotsPhoto"
        "patriotsContent"
        "streetPhoto"
        "streetContent";
    }
    .carousel-control-prev-icon {
        background-image: url(../images/eva_arrow-ios-back-outline.png)!important;
    }
    .carousel-control-next-icon {
        background-image: url(../images/eva_arrow-ios-forward-fill.png)!important;
    }
    .carousel-indicators li{
        background-color: #1D1E1F !important;
    }
      /* The Close Button */
      .close {
        color: #1D1E1F !important;
        float: right;
        font-size: 28px !important;
        font-weight: bold;
        opacity: 1 !important;
      }
      
      .close:hover,
      .close:focus {
        color: #4A807B !important;
        text-decoration: none;
        cursor: pointer;
      }
}
/*Graphic Design Page Cards*/
.post-wrap {
    min-width: 300px;
    max-width: 380px;
    height: 420px;
    perspective: 1000px;
    flex: 1;
    margin: 0 15px 30px;
}
.post {
    position: relative; /* Required to absolutely position the faces */
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.post-front, .post-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    border: 1px solid #d4d3d3;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.post-back {
    transform: rotateY(180deg);
}
.post-wrap:hover .post {
    transform: rotateY(180deg);
}
.post-img {
    background-size: cover;
    background-position: center;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.post-info {
    padding: 20px 30px 30px;
}
.post-info span {
    font-size: 0.8rem;
    color: #808080;
}
.post-info h4{
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 5px;
}
.post-back {
    background-color: #FFFFFF;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* To push the read more button to bottom */
    align-items: flex-start; /* To position the read more button at the left */
}
.post-back h4{
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 5px;
}
.post-back p {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 1rem;
    margin-left: 0;
}
.post-back .button{
    text-decoration: none;
    color: #ffffff;
    background-color: #5678ba;
    padding: 10px 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 5px;
}
.post-back .a {
    text-decoration: none;
    color: #1D1E1F !important;
    background-color: #D8E8E7 !important;
    padding: 10px 14px !important;
    letter-spacing: 0.05em !important;
    font-size: 0.8em !important;
    font-weight: bold;
    border-radius: 25px;
}
.post-back .a:hover {
    background-color: #4A807B !important;
    color: #ffffff !important;
}
.card-container {
    max-width: 1200px;
    margin: auto;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; /* Required to position the posts one below the other on smaller devices */
}
  /*modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.carousel-control-prev-icon {
    background-image: url(../images/eva_arrow-ios-back-outline.png)!important;
}
.carousel-control-next-icon {
    background-image: url(../images/eva_arrow-ios-forward-fill.png)!important;
}
.carousel-indicators li{
    background-color: #1D1E1F !important;
}
  /* The Close Button */
  .close {
    color: #1D1E1F !important;
    float: right;
    font-size: 28px !important;
    font-weight: bold;
    opacity: 1 !important;
  }
  
  .close:hover,
  .close:focus {
    color: #4A807B !important;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: auto;
  }
/* hovereffect on graphic design tiles */
.tileinfo {
    margin: 0 auto;
}
.g-design {
    margin-bottom: 50px !important;
    padding: 20px;
}
    /*Ernest Way Tile Hover*/
.card {
    max-width: 385px !important;
    width:  100%!important;
    height: auto !important;
    word-wrap:  none !important;
}
.center {
    position: relative;
    height: 259px;
    width: 344px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.center .gradientimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.center:hover {
    background-position: 100% 100%;
}
.center:hover .overlay-xs-1{
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-sim-text-2{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.cover-text {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Dimweight Tile Hover*/
.dimweight {
    position: relative;
    height: 258px;
    width: 344px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.dimweight .weightimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.dimweight:hover {
    background-position: 100% 100%;
}
.dimweight:hover .overlay-1{
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-2{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Skin2beenvied Tile Hover*/
.skin2beenvied {
    position: relative;
    height: 260px;
    width: 343px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.skin2beenvied .skinimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.skin2beenvied:hover {
    background-position: 100% 100%;
}
.skin2beenvied:hover .overlay-2{
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-3{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text-2 {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Packaging Assembly Tile Hover*/
.packaging {
    position: relative;
    height: 259px;
    width: 345px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.packaging .pkgimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.packaging:hover {
    background-position: 100% 100%;
}
.packaging:hover .overlay-3{
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-4{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text-3 {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Encore Tile Hover*/
.encore {
    position: relative;
    height: 321px;
    width: 345px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.encore .encoreimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.encore:hover {
    background-position: 100% 100%;
}
.encore:hover .overlay-4{
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-5{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text-4 {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Ernies Snapchat Tile Hover*/
.geofilter {
    position: relative;
    height: 266px;
    width: 342px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.geofilter .filterimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.geofilter:hover {
    background-position: 100% 100%;
}
.geofilter:hover .overlay-5{
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-6{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text-5 {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Donut Wall Tile Hover*/
.donut {
    position: relative;
    height: 439px;
    width: 345px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.donut .donutimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.donut:hover {
    background-position: 100% 100%;
}
.donut:hover .overlay-6 {
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-7{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text-6 {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Appreciation Card Tile Hover*/
.appreciation {
    position: relative;
    height: 408px;
    width: 340px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.appreciation .apprec-img {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.appreciation:hover {
    background-position: 100% 100%;
}
.appreciation:hover .overlay-7 {
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-8{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text-7 {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}