link {
    display: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    border: 15px;
    padding: 10px;
}
/*Font Styles*/
h1 {
    font-size: 64pt;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
h2 {
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 20pt;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
}
h4 {
    font-size: 20pt;
    font-weight: bold;
    text-align: left;
}
p {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 16pt;
    text-align: justify;
    line-height: auto;
}
/*Navigation Bar*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    font-size: 18px;
    background-color: transparent !important;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: #1D1E1F;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    color: #ffffff !important;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #1D1E1F !important;
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        height: 70px;
        align-items: center;
        margin-bottom: 40px;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }
}
.nav-links .navlink {
    font-size: 20pt;
}
.nav-links:hover {
    color: #4A807B !important;
}
.nav-link:hover {
    color: #4A807B !important;
}
#connect {
    font-weight: bolder !important;
}
a {
    text-decoration: none !important;
}
li {
    font-size: 26px;
    display: flex;
  }
  li a {
    display: block;
    color: #1D1F1E;
    text-align: center;
    font-size: 20pt;
    padding: 14px 16px;
    text-decoration: none;
  }
  /*button style & animations*/
button {
    display: block !important;
    margin: 0 auto;
    padding: 15px;
    width: 150px;
    font-size: 18px !important;
    text-align: center;
    color: #1D1F1E !important;
    border: none !important;
    border-radius: 25px !important;
    background-color: #D8E8E7 !important;
    text-decoration: none !important;
    box-shadow: none !important;
}
.secondbtn {
    background-color: #B1CFF5 !important;
}
button:hover {
    background-color: #4A807B !important;
    color: #ffffff !important;
}
.secondbtn:hover {
    background-color: #1E74E2 !important;
}
.button3 {
    display: block !important;
    margin: 0 auto;
    margin-top: 5px !important;
    padding: 0px;
    width: 140px !important;
    font-size: 18px !important;
    text-align: right;
    justify-content: right !important;
    align-items: right !important;
    color: #1D1E1F !important;
    background-color: transparent !important;
    text-decoration: none !important;
    box-shadow: none !important;
    line-height: 40px;
}
.button3:hover {
    background-color: transparent !important;
    color: #1964C4 !important;

}
.cssChange {
    display: block;
    margin: 0 auto;
    width: 150px;
    border-radius: 25px;
    background-color: #4A807B;
    color: #1D1F1E;
    box-shadow: 0px 4px 4px grey;
    text-decoration: none;
}
/*Homepage Hero Section*/
.home-col {
    margin-left: 20px !important;
    margin-bottom: 30px !important;
}
.content {
    margin-top: 60px;
    padding-top: 40px;
}
.homeBio {
    font-size: 24pt !important;
}
#whoami {
    font-weight: 600;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke: 0.25px;
    -webkit-text-stroke-color: #4A807B;
}
#whoami2 {
    font-weight: 600 !important;
    -webkit-text-fill-color: #ffffff !important;
    -webkit-text-stroke: 0.25px !important;
    -webkit-text-stroke-color: #4A807B !important;
}
/*HomePage Scroll Reveal*/
#workarrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

#scrollbutton {
    text-decoration: none;
    color: #1D1F1E;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 15px;
    transition: all 0.2s ease 0s;
    margin-bottom: 0;
}
#scrollbutton:hover {
    color: #4A807B;
}
.projects {
    margin-top: 20px;
    padding-top: 10px;
}
/*Loading Page animation*/
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  /* footer style */
  
#connect {
    font-size: 16pt;
}
#connect1 {
    font-size: 13pt;
}
footer {
    margin-top: 50px;
}
footer div {
    display: inline-block;
}
footer ul li a{
    padding: 0 15px;
}
.iconify {
    height: auto;
}
/* grid and UX|UI page style */
.uxui {
    margin-top: 50px;
    font-size: 32pt !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.subtitle {
    border-radius: 5px;
    background-color: #D8E8E7;
    width: 200px;
    color: #666666;
    font-size: 14pt;
    font-weight: thin;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: auto;
    margin-left: 60px;
}
.subtitle2 {
    border-radius: 5px;
    background-color: #B1CFF5;
    width: 200px;
    color: #666666;
    font-size: 14pt;
    font-weight: thin;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: auto;
}
.subcard {
    display: flex;
    margin-left: 65%;
}
.subtitle3 {
    border-radius: 5px;
    background-color: #D8E8E7;
    width: 300px;
    color: #666666;
    font-size: 14pt;
    font-weight: thin;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: auto;
    margin-left: 60px;
}
.description {
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
    font-size: 18pt !important;
    border: 20px;
    padding: 20px;
}
.uxui-gridContainer {
    display: grid;
    column-gap: 5em;
    row-gap: 10em;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "livingroomContent livingroomPhoto"
        "patriotsPhoto patriotsContent"
        "streetContent streetPhoto";
    padding: 50px 50px;
}
#livingroomPhoto img, #streetPhoto img {
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
}
#patriotsPhoto img {
    box-shadow: -10px 10px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
}
#livingroomPhoto {
    grid-area: livingroomPhoto;
    max-width: 495px;
    max-height: 481px;
}
#livingroomContent {
    grid-area: livingroomContent;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
#patriotsPhoto {
    grid-area: patriotsPhoto;
    max-width: 491px;
    max-height: 480px;
}
#patriotsContent {
    grid-area: patriotsContent;
}
#streetPhoto {
    grid-area: streetPhoto;
    max-width: 491px;
    max-height: 480px;
}
#streetContent {
    grid-area: streetContent;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
  .uxuiGridArea {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }

/* hovereffect on graphic design tiles */
.tileinfo {
    margin: 0 auto;
}
.g-design {
    margin-bottom: 50px !important;
}
    /*Ernest Way Tile Hover*/
.card {
    max-width: 385px !important;
    width:  100%!important;
    height: auto !important;
    word-wrap:  none !important;
}
.center {
    position: relative;
    height: 259px;
    width: 344px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.center .gradientimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.center:hover {
    background-position: 100% 100%;
}
.center:hover .overlay-xs-1{
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-sim-text-2{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.cover-text {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Dimweight Tile Hover*/
.dimweight {
    position: relative;
    height: 258px;
    width: 344px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.dimweight .weightimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.dimweight:hover {
    background-position: 100% 100%;
}
.dimweight:hover .overlay-1{
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-2{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Skin2beenvied Tile Hover*/
.skin2beenvied {
    position: relative;
    height: 260px;
    width: 343px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.skin2beenvied .skinimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.skin2beenvied:hover {
    background-position: 100% 100%;
}
.skin2beenvied:hover .overlay-2{
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-3{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text-2 {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Packaging Assembly Tile Hover*/
.packaging {
    position: relative;
    height: 259px;
    width: 345px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.packaging .pkgimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.packaging:hover {
    background-position: 100% 100%;
}
.packaging:hover .overlay-3{
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-4{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text-3 {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Encore Tile Hover*/
.encore {
    position: relative;
    height: 321px;
    width: 345px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.encore .encoreimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.encore:hover {
    background-position: 100% 100%;
}
.encore:hover .overlay-4{
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-5{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text-4 {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Ernies Snapchat Tile Hover*/
.geofilter {
    position: relative;
    height: 266px;
    width: 342px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.geofilter .filterimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.geofilter:hover {
    background-position: 100% 100%;
}
.geofilter:hover .overlay-5{
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-6{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text-5 {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Donut Wall Tile Hover*/
.donut {
    position: relative;
    height: 439px;
    width: 345px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.donut .donutimg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.donut:hover {
    background-position: 100% 100%;
}
.donut:hover .overlay-6 {
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-7{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text-6 {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
    /*Appreciation Card Tile Hover*/
.appreciation {
    position: relative;
    height: 408px;
    width: 340px;
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1E74E2 50%, #7AB5AF 75%, #4A807B 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    cursor: pointer;
    transition: .5s all;
}
.appreciation .apprec-img {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: .95;
}
.appreciation:hover {
    background-position: 100% 100%;
}
.appreciation:hover .overlay-7 {
    opacity: 1;
    visibility: visible;
    display: block;	
}
.overlay-text-8{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block !important;
    justify-content: center !important;
    text-align: center;
    align-items: center !important;
    color: #1D1F1E !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.title-text-7 {
    font-size: 10pt !important;
    padding: 5px;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 40px;
}
/*LivingRoom Case Study*/
.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: #1D1F1E;
    margin: 0px;
    text-align: left;
    margin-right: 700px;
    margin-bottom: 250px;
  } 
  .jumbotron {
    background-image: url(../images/LivingRoom_Hero.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 0px !important;
  }
  .display-4 {
    display: flex;
    align-items: left;
    justify-content: left;
    vertical-align: top;
}
.lead {
    display: flex !important;
    align-items: left !important;
    justify-content: left !important;
    margin: 0px !important;
}
  .colorBlock {
    background-color: #D8E8E7;
    padding: 40px;
}
.img-fluid {
    max-width: 100% !important;
    height: auto !important;
}

.casestudy-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;
}
.user-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.casestudy-userImage {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;
}
.container {
    margin-top: 50px;
    padding-left: 180px !important;

}
.livingHeading {
    font-size: 16pt !important;
}
.livingroom-text {
    font-size: 14pt !important;
    margin-left: 0 !important;
}
.livingroom-text2 {
    font-size: 14pt !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.livingroom-text3 {
    font-size: 14pt !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.caseStudy {
    align-items: center !important;
    justify-content: center;
    margin-top: .5rem;
    padding-top: 10px;
}
.casestudy-body {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 30px;
}
.casestudy-heading {
    font-size: 26pt;
    font-weight: bold;
    display: flex;
    align-items: left;
    justify-content: left;
}
.livingHeading {
	-webkit-animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes livingHeading {
    0% {
      -webkit-transform: translateY(300px);
              transform: translateY(300px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes livingHeading {
    0% {
      -webkit-transform: translateY(300px);
              transform: translateY(300px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  .caseStudy {
	-webkit-animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes caseStudy {
    0% {
      -webkit-transform: translateY(300px);
              transform: translateY(300px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes caseStudy {
    0% {
      -webkit-transform: translateY(300px);
              transform: translateY(300px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  /*About Skills Section*/
#aboutMe {
    height: 20vh;
    margin: 20px;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
}
  #about-gridContainer {
    display: grid;
    column-gap: 1em;
    row-gap: 5em;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "bioPhoto bioContent"
        "freetimeContent freetimePhoto";
    margin: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#bioPhoto {
    grid-area: bioPhoto;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
#bioContent {
    grid-area: bioContent;
    padding-bottom: 30px;
}
#freetimePhoto {
    grid-area: freetimePhoto;
    justify-content: center;
    align-items: center;
}
#freetimeContent {
    grid-area: freetimeContent;
    padding-bottom: 30px;
}
  .aboutmeGridArea {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }
  #bioPhoto img, #freetimePhoto img {
    width: 70%;
    height: auto;
  }
  .skills-title {
      margin-bottom: 40px;
  }
  .skills-sub {
      text-align: center !important;
  }
  #skills {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #D8E8E7;
  }
  .skills-container,
.hobbies-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  width: 100%;
  margin: 0px auto;
}

.skills-container div,
.hobbies-container div {
  text-align: center;
}

.skills-container div img,
.hobbies-container div img {
  margin-bottom: 20px;
  text-align: center;
  width: 50%;
}
@media screen and (max-width: 600px) {
    .skills-container,
    .hobbies-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      row-gap: 50px;
      width: 100%;
      margin: 0px auto;
    }
  }
  @media screen and (max-width: 600px) {
    #about-gridContainer {
        display: grid;
        column-gap: 2em;
        row-gap: 2em;
        justify-content: center;
        align-items: center;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "bioPhoto"
            "bioContent"
            "freetimePhoto"
            "freetimeContent";
    }
    .uxui-gridContainer {
        display: grid;
        column-gap: 0.5em;
        row-gap: 5em;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "livingroomPhoto"
        "livingroomContent" 
        "patriotsPhoto"
        "patriotsContent"
        "streetPhoto"
        "streetContent";
    }
  }
  /*modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
